/* -------------------------------------------------------
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 -------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------- end reset -------------------------------*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: cabin, "Helvetica Neue", Arial,Verdana, Geneva, sans-serif;
    font-size: 16pt;
    max-width: 700px;
    margin: 0 auto; 
    margin-top: 3%;
}

h1 {
    font-size: 350%;
    margin-bottom: 20px;
}

textarea {
    margin-top: 15px;
}

h2 {
    color: #000;
    font-size: 125%;
    font-weight: normal;
    margin-bottom: 2%;
}

a:link,
a:visited {
    color: #917b6b;
    text-decoration: none;
}


footer {
    font-weight: bold;
    text-align: center;
    clear: both;
}

article {
    background-color: #fff; 
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
}

#profile_pic {
    float: left;
    margin-right: 15px;
}

#posts h1 {
    color: #000;
    font-size: 170%;
    font-weight: bold;
    text-align: center;
}

#posts h2 {
    font-size: 110%;
    font-weight: bold;
}

#posts span {
    font-size: 90%;
    font-weight: normal;
    color: #ababab;
} 

#posts time {
    color: #ababab;
    font-size: 70%;
    font-weight: normal;
    padding-right: 15px;
    float: right;
}

#posts p {
    margin-left: 75px;
}

#index,
#users_profile,
#signup,
#posts,
#posts_users,
#posts_add {
    background-color: #d0d7dd;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px;
}

#posts_users h1 {
    font-size: 170%;
    font-weight: bold;
    text-align: center;
}

#posts_users a {
    padding-left: .3em;
}

#posts_users a:hover {
    color: #B51225;
}

#ticker_list {
    padding: 15px;
    background-color: #fff;
}

#index {
    height: 300px;
}
#users_login {
    width: 200px;
    background-color: #fff;
    padding: 15px;
    margin-right: 70px;
    float: left;
}

#users_login h2{
    margin-bottom: 15px;
}

#users_signup {
    padding-top: 5px;
    width: 660px;
}

#users_signup h2 {
    font-weight: bold;
    margin-bottom: .5%;
}

#users_signup p {
    font-size: 110%;
    padding-top: 10px;
}

#users_signup  a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    font-size: 115%;
}

#signup form,
#signup h2 {
    padding-left: 30px;
}

.plus_one {
    font-size: 95%;
    color: #e3792d;
}

#users_profile h3 {
    margin-bottom: 5px;
}

#signup h2,
#posts_add label,
#users_profile h2 {
    font-size: 150%;
    font-weight: bold;
}

.error {
    padding-left: 30px;
	color: red;
    margin-top: 15px;
}

.message {
    color: #107594;
    margin-top: 15px;
}

.sitenav1 li,
.sitenav2 li {
    font-size: 110%;
    list-style: none;
    margin: 0;
    padding: 0px 15px 0px 0px;
    display: inline;
}

.sitenav1 a:hover {
    color: #B51225;
}

.sitenav1 {
    float: left;
}
.sitenav2 a:hover {
    color: #B51225;
}

.sitenav2 a {
    color: #787878;
}

.sitenav2 {
    width: 200px;
    margin-left: 77%;
}
li.youarehere a:link,
li.youarehere a:visited {
    color: #B51225;
}